{% if ms %}
{{ms}}<br><br>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="Bot_file" />
  <button type="submit" name="botup">Upload</button>
  <select name="players">
    {% for player in all_players%} {% if not player.is_superuser %}}
    <option value="{{ player.pk }}">{{ player }}</option>
    {% endif %} {% endfor %}
  </select>
  <button type="submit" name="Match" value="MATCH" /> Player 2
  <input type="checkbox" name="Player2" value="Logs as Player 2" />
  <select name="players">
    {% for player in all_players%}
    <option value="{{ player }}">{{ player }}</option>
    {% endfor %}
  </select>
  <input type="submit" name="Logs" value="LOGS" />
</form>
