{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'assets/img/apple-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/img/xodialogo2.png'%}"
    />
    <link
      href="{% static './register_files/font-awesome.min.css' %}"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      XOdia '19
    </title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <!-- CSS Files -->

    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/paper-kit.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
    <style type="text/css">
      canvas {
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.8);
      }
      body {
        margin: 0;
        background: url("{% static 'assets/uiStatic/UI_bg.jpg' %}");
        overflow: hidden;

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg fixed-top bg-darker navbar-transparent"
      color-on-scroll="110"
    >
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="{% url 'user_login' %}#">
            <img src="{% static 'xodia1.png' %}" width="150" height="30" />
          </a>
          <button
            class="navbar-toggler navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navigation"
            aria-controls="navigation-index"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navigation"
        >
          <ul class="navbar-nav">
            {% if not au %}
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Login"
                data-placement="bottom"
                href="{% url 'user_login' %}"
              >
                Home
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Login"
                data-placement="bottom"
                href="{% url 'user_login' %}#login"
              >
                Login
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="About"
                data-placement="bottom"
                href="{% url 'user_login' %}#About"
              >
                About Game
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Rules"
                data-placement="bottom"
                href="{% url 'user_login' %}#Rules"
              >
                Rules
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Contact"
                data-placement="bottom"
                href="{% url 'user_login' %}#Contact"
              >
                Contact
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Register"
                data-placement="bottom"
                href="{% url 'user_register' %}"
              >
                Register
              </a>
            </li>
            {% endif %} {% if au %}
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="About"
                data-placement="bottom"
                href="{% url 'login_success' %}#About"
              >
                About Game
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Rules"
                data-placement="bottom"
                href="{% url 'login_success' %}#Rules"
              >
                Rules
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Sign-up/Sign-in"
                data-placement="bottom"
                href="{% url 'playable_ui' %}"
              >
                Playable UI
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Contact"
                data-placement="bottom"
                href="{% url 'login_success' %}#Contact"
              >
                Contact
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title="Contact"
                data-placement="bottom"
                href="{% url 'user_logout' %}"
              >
                Sign Out
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <img
      src="{% static 'assets/uiStatic/t1.svg' %}"
      id="imgp1"
      style="display:none"
    />
    <img
      src="{% static 'assets/uiStatic/t12.svg' %}"
      id="imgp2"
      style="display:none"
    />
    <div class="container-fluid" style="margin:0px;padding:0px;">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-sm-12">
          <canvas onclick="showcoords(event)"></canvas>
        </div>
        <div class="col-lg-5 col-sm-12">
          <div class="container phone">
            <div class="row" style="">
              <div class="col-lg-12">
                <input
                  class="col-10"
                  id="stringip"
                  type="text"
                  style="width:20rem;height:30px;color: black;border-radius:10px;margin:5px;padding-left:20px"
                  placeholder="String Input..."
                  hidden
                />
                <button
                  style="font-size:0.7rem;"
                  class="btn button-primary col-2"
                  id="stringbtn"
                  onclick="stringInput()"
                  hidden
                >
                  Submit
                </button>
              </div>
            </div>
            <div class="row" style="margin-top:2rem;padding-left:0.5rem">
              <div class="col-lg-4">
                <button
                  id="undo"
                  onclick="undomove()"
                  class="btn button-primary"
                  hidden
                >
                  Undo Move
                </button>
              </div>
              <div>
                <button
                  id="undo"
                  onclick="history.go(0)"
                  class="btn button-primary"
                >
                  Restart
                </button>
              </div>
            </div>
            <div class="row">
              <div
                class="col-10"
                style="height:8.4rem;border:solid 2px #fff;color:white;border-radius:20px;margin-top:50px;overflow-y:auto"
              >
                <p style="font-size:1.5rem;margin-bottom:0px;">Status</p>

                <p id="status" style="font-size:1.2rem;">
                  Sentinel's turn (Blue):
                </p>
              </div>
            </div>

            <div class="row" style="">
              <div
                class="col-10"
                style="height:15rem;border:solid 2px #fff;color:white;border-radius:10px;margin-top:20px;overflow-y:scroll;"
              >
                <p style="font-size:1.7rem;margin-bottom:0px;">Rules</p>
                <br />

                <p style="font-size:1.3rem;">
                  1. The dragons can only move TWO at a time.<br /><br />
                  2. The two dragons may move either horizontally or
                  diagonally:<br />
                  i. The two dragons selected together, E3 and E4, can move in a
                  pair horizontally, in a way that either E3 is at E2 or E4 is
                  at E5. <br />
                  ii. The two dragons selected together, E3 and F3, can move in
                  a pair diagonally, in a way that E3 is at D3 and F3 is at
                  E3.<br /><br />
                  3. The moves may be considered invalid if:<br />
                  i. The pair of dragons may try to move more than one of the
                  opponent’s dragon.<br />
                  ii. The pair of dragons may push one of their own kind.<br />
                  iii. The pair of dragons may push the opponent’s dragon off
                  the corner of the board. <br /><br />4. The battle is won when
                  the enemy has lost four of its dragons.<br /><br />

                  <strong
                    >For a more comprehensive description of the game, please
                    refer to the documentation.</strong
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{% static 'assets/uiStatic/finalUI.js' %}"
    ></script>
    <!--   Core JS Files   -->
    <script
      src="{% static 'assets/js/core/jquery.min.js' %}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'assets/js/core/popper.min.js' %}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'assets/js/core/bootstrap.min.js' %}"
      type="text/javascript"
    ></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script
      src="{% static 'assets/js/plugins/nouislider.min.js' %}"
      type="text/javascript"
    ></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
    <script
      src="{% static 'assets/js/plugins/bootstrap-datepicker.js' %}"
      type="text/javascript"
    ></script>
    <!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
    <script
      src="{% static 'assets/js/paper-kit.js' %}"
      type="text/javascript"
    ></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <!--  Google Maps Plugin    -->
    <script>
      $(document).ready(function() {
        if ($("#datetimepicker").length != 0) {
          $("#datetimepicker").datetimepicker({
            icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: "fa fa-chevron-left",
              next: "fa fa-chevron-right",
              today: "fa fa-screenshot",
              clear: "fa fa-trash",
              close: "fa fa-remove"
            }
          });
        }

        function scrollToDownload() {
          if ($(".section-download").length != 0) {
            $("html, body").animate(
              {
                scrollTop: $(".section-download").offset().top
              },
              1000
            );
          }
        }
      });
    </script>
  </body>
</html>
