{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'assets/img/apple-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/img/xodialogo2.png'%}"
    />
    <link
      href="{% static './register_files/font-awesome.min.css' %}"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      XOdia '19
    </title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />
    <!--     Fonts and icons     -->
    <!-- CSS Files -->

    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/paper-kit.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
    <style type="text/css">
      canvas {
        border: 1px solid black;
        background-color: rgba(0,0,0,0.85);
       
      }
      body {
        margin: 0;
        background: url("{% static 'assets/uiStatic/UI_bg.jpg' %}");
        overflow: hidden;

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
   <nav class="navbar navbar-expand-lg fixed-top bg-darker navbar-transparent" color-on-scroll="110">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="{% url 'user_login' %}#">
      <img src="{% static 'xodia1.png' %}" width="150" height="30">
      </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
  
      <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="Login" data-placement="bottom" href="#login" >
          Login
        </a>
      </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="About" data-placement="bottom" href="{% url 'user_login' %}#About" >
                About Game
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Rules" data-placement="bottom" href="{% url 'user_login' %}#Rules">
                Rules
              </a>
            </li>
  
  
            <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Sign-up/Sign-in" data-placement="bottom" href="{% url 'playable_ui' %}">
                Playable UI
              </a>
            </li>
        <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Contact" data-placement="bottom" href="{% url 'user_login' %}#Contact" >
                Contact
              </a>
            </li>
      <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Register" data-placement="bottom" href="{% url 'user_register' %}" >
                Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <img src="{% static 'assets/uiStatic/t1.svg' %}" id="imgp1" style="display:none">
    <img src="{% static 'assets/uiStatic/t12.svg' %}" id="imgp2" style="display:none">
    <div class="container-fluid" style="margin:0px;padding:0px;">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-sm-12">
            <canvas onclick="showcoords(event)"></canvas>
        </div>
        <div class="col-lg-5 col-sm-12">
            <div class="container phone">
              <div class="row" style="">
                <div class="col-lg-12">
                  <input
                    class="col-10"
                    id="stringip"
                    type="text"
                    style="width:20rem;height:30px;color: black;border-radius:10px;margin:5px;padding-left:20px"
                    placeholder="String Input..."
                  />
                  <button
                    style="font-size:0.7rem;"
                    class="btn button-primary col-2"
                    id="stringbtn"
                    onclick="stringInput()"
                  >
                    Submit
                  </button>
                </div>
              </div>
              <div class="row" style="margin-top:2rem;padding-left:0.5rem">
                <div class="col-lg-4">
                  <button
                    id="undo"
                    onclick="undomove()"
                    class="btn button-primary"
                  >
                    Undo Move
                  </button>
                </div>
                <div class="col-lg-4">
                  <button
                    id="undo"
                    onclick="history.go(0)"
                    class="btn button-primary"
                  >
                    Restart
                  </button>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-10"
                  style="height:8.4rem;border:solid 2px #fff;color:white;border-radius:20px;margin-top:50px;overflow-y:auto"
                >
                  <p style="font-size:1.5rem;margin-bottom:0px;">Status</p>
  
                  <p id="status" style="font-size:1.2rem;">
                    Sentinel's turn (Blue):
                  </p>
                </div>
              </div>
  
              <div class="row" style="">
                <div
                  class="col-10"
                  style="height:15rem;border:solid 2px #fff;color:white;border-radius:10px;margin-top:20px;overflow-y:scroll;"
                >
                  <p style="font-size:1.7rem;margin-bottom:0px;">Rules</p>
  
                  <p style="font-size:1.2rem;">
                    Player 1: Sentinel (Blue)<br />
                    Player 2: Scourge (Red)<br />
                    Stingers are placed in row 1 and 3.<br />
                    Bombers are placed in row 0 and 4.<br />
                    <br />
                    1. Each player gets one move per turn.<br />
  
                    2.Moves: Stingers (row 1 and 3) can move diagonally forward
                    while the bombers (row 0 and 4) can move forward in all
                    directions. Example: If a bomber is placed in location (4,2)
                    then it can move to (3,1), (3,3), (3,2), (4,1), (4,3) provided
                    the space is empty. Note: All moves are only forward. There
                    are no backward moves in the game.<br />
  
                    3. Vertical Elimination: When your token (stinger or bomber)
                    comes face to face with the opponent’s token and the space
                    behind the opponent’s token is empty, then the player can
                    eliminate the opponent's token by jumping straight to the
                    empty space.<br />
  
                    4. Horizontal Elimination: When your token (stinger or bomber)
                    has an enemy token on its left or right side, and the space
                    next to the enemy token is empty, then the player can
                    eliminate the opponent’s token by jumping straight to the
                    empty space.<br />
  
                    5. Gameover: The game ends when either player’s bomber reaches
                    the respective opponent’s base row (row 0 and 4).<br />
  
                    <br />
                    To click and play:<br />
                    1. Select the token you want to move.<br />
                    2. Click a valid empty space to move the token.<br />
                    <br />
                    Using string inputs:<br />
                    1. Enter the input in the textbox using the following
                    format:<br />
                    row1 col1 row2 col2<br />
                    row1 col1= Initial position<br />
                    row2 col2= Final position<br />
  
                    Note: There is a space after row1,col1 and row2
                    respectively.<br />
  
                    <b
                      >For a more comprehensive description of the game, please
                      refer to the documentation.</b
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'assets/uiStatic/finalUI.js' %}"></script>

  </body>
</html>
